:root {
	--primary-text-color: #757575;
	--title-text-color: #212121;
	--accent-color: #2196F3;
	--primary-white-color: #ffffff;
	--link-footer-color: rgba(255, 255, 255, 0.6);
	--background-footer-color: #2F303A;
	--background-team-color: #F5F4FA;
	--social-color: #AFB1B8;
}

body {
	margin: 0;
	color: var(--primary-text-color);
	background-color: var(--primary-white-color);
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0.03em;
}

button {
	cursor: pointer;
}

a {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	color: var(--title-text-color);
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.container {
	width: 1200px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}



/*----------Header----------*/

.header {
	border-bottom: 1px solid #ECECEC;
}

.header__flex {
	display: flex;
	align-items: center;
}

/*-----Logo-----*/

.logo {
	color: var(--title-text-color);
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.09;
	margin-right: 93px;
}

.logo__span {
	color: var(--accent-color);
}

/*-----Navigation-----*/

.site-nav {
	display: flex;
}

.site-nav__item {
	position: relative;
}

.site-nav__item:not(:last-child) {
	margin-right: 50px;
}

.site-nav__link {
	display: block;
	color: var(--title-text-color);
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
	padding-top: 32px;
	padding-bottom: 32px;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover,
.site-nav__link:focus {
	color: var(--accent-color);
}

.site-nav__link--active {
	color: var(--accent-color);
}

.site-nav__link--active::after {
	position: absolute;
	bottom: -1px;
	left: 0;
	content: "";
	display: block;
	width: 100%;
	height: 4px;
	background-color: var(--accent-color);
	border-radius: 2px;
}

.auth-nav {
	display: flex;
	margin-left: auto;
}

.auth-nav__item:not(:last-child) {
	margin-right: 50px;
}

.auth-nav__link {
	display: flex;
	align-items: center;
	color: var(--primary-text-color);
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
	padding-top: 32px;
	padding-bottom: 32px;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav__link:hover,
.auth-nav__link:focus {
	color: var(--accent-color);
}

.auth-nav__icon-email,
.auth-nav__icon-phone {
	fill: var(--primary-text-color);
	margin-right: 10px;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav__link:hover .auth-nav__icon-email,
.auth-nav__link:focus .auth-nav__icon-email,
.auth-nav__link:hover .auth-nav__icon-phone,
.auth-nav__link:focus .auth-nav__icon-phone {
	fill: var(--accent-color);
}



/*----------Main----------*/

/*-----Hero-----*/

.hero {
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;	
	background-color: var(--background-footer-color);
	background: linear-gradient(
		rgba(47, 48, 58, 0.4),
		rgba(47, 48, 58, 0.4)),
		url(../images/background.jpg) no-repeat center;
	background-size: cover;
	text-align: center;
	padding-top: 200px;
	padding-bottom: 200px;
}

.hero__title {
	margin: 0 auto;
	color: var(--primary-white-color);
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	width: 696px;
}

.hero__button {
	color: var(--primary-white-color);
	background-color: var(--accent-color);
	font-family: inherit;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.06em;
	padding: 10px 32px;
	border: none;
	border-radius: 4px;
	margin-top: 30px;
	transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover, 
.hero__button:focus {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/*-----Features-----*/

.hidden {
	font-size: 0;
}

.features {
	padding-top: 94px;
	padding-bottom: 94px;
}

.features__list {
	display: flex;
	flex-wrap: wrap;
}

.features__item {
	width: 270px;
}

.features__item:not(:last-child) {
	margin-right: 30px;
}

.features__block-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 120px;
	background-color: var(--background-team-color);
	margin-bottom: 30px;
	border-radius: 4px;
}

.features__title {
	font-weight: 700;
	line-height: 1.14;
	text-transform: uppercase;
	margin: 0;
}

.features__text {
	margin: 0;
	margin-top: 10px;
	margin-top: 10px;
	line-height: 1.71;
}

/*-----Activity-----*/

.activity {
	padding-bottom: 94px;
}

.activity__title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
	margin: 0;
}

.activity__list {
	display: flex;
	flex-wrap: wrap;
	margin-top: 50px;
}

.activity__item {
	width: 370px;
}

.activity__item:not(:last-child) {
	margin-right: 30px;
}

.activity__image-block {
	position: relative;
	display: flex;
}

.activity__text {
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70px;
	width: 100%;
	text-align: center;
	font-weight: 700;
	text-transform: uppercase;
	color: var(--primary-white-color);
	background-color: rgba(47, 48, 58, 0.8);;
}

/*-----Team-----*/

.team {
	padding-top: 94px;
	padding-bottom: 94px;
	background-color: var(--background-team-color);
}

.team__title {
	margin: 0;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
}

.team__list {
	display: flex;
	flex-wrap: wrap;
	margin-top: 50px;
}

.team__card {
	width: 270px;
	text-align: center;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
	background-color: var(--primary-white-color);
}

.team__card:not(:last-child) {
	margin-right: 30px;
}

.card__info {
	padding-top: 30px;
	padding-bottom: 30px;
}

.card__name {
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
}

.card__speciality {
	margin-top: 10px;
	margin-bottom: 0;
	font-size: 16px;
	line-height: 1.19;
}

.social-list {
	display: flex;
	justify-content: center;
	margin-top: 16px;
}

.social-list__item {
	width: 44px;
	height: 44px;
}

.social-list__item:not(:last-child) {
	margin-right: 10px;
}

.social-list__link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover,
.social__link:focus {
	background-color: var(--accent-color);
}

.social-list__icon {
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
	fill: var(--social-color);
}

.social-list__link:hover .social-list__icon,
.social-list__link:focus .social-list__icon {
	fill: var(--primary-white-color);
}

/*-----Clients-----*/

.client {
	padding-top: 94px;
	padding-bottom: 94px;
}

.client__title {
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;
color: var(--title-text-color);
}

.client__list {
	display: flex;
	margin-top: 50px;
}

.client__item:not(:last-child) {
	margin-right: 30px;
}

.client__link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 170px;
	height: 92px;
	border: 1px solid var(--social-color);
	border-radius: 4px;
	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__icon {
	fill: var(--social-color);
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__link:hover,
.client__link:focus,
.client__link:hover .client__icon,
.client__link:focus .client__icon {
	border-color: var(--accent-color);
	fill: var(--accent-color);
}



/*----------Footer----------*/

.footer {
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: var(--background-footer-color);
}

.footer__logo {
	color: var(--primary-white-color);
}

.footer__address {
	margin-top: 20px;
	margin-bottom: 0;
	color: var(--primary-white-color);
	font-style: normal;
	line-height: 1.71;
}

.address__item {
	margin: 0;
}

.address__item:not(:first-child) {
	margin-top: 9px;
}

.address__link {
	color: var(--social-color);
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link:hover,
.address__link:focus {
	color: var(--primary-white-color);
}

.address__sity {
	color: var(--primary-white-color);
}

.address__sity:hover,
.address__sity:focus {
	color: var(--accent-color);
}

.footer__container {
	display: flex;
	align-items: baseline;
}

.footer__social {
	margin-left: 70px;
}

.footer__title {
	margin: 0;
	margin-bottom: 20px;
	font-weight: 700;
	text-transform: uppercase;
	color: var(--primary-white-color);
}

.social-list__icon--white {
	fill: var(--primary-white-color);
}

.social-list__link--bgcolor {
	background-color: rgba(255, 255, 255, 0.1);
}

/*-----Footer form-----*/

.footer__form-block {
	display: flex;
	flex-direction: column;
	margin-left: 93px;
}

.footer-form {
	display: flex;
}

.footer-form-label {
	position: relative;
}

.footer-form-text {
	position: absolute;
	top: 15px;
	left: 16px;
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-input {
	width: 358px;
	padding: 15px 16px;
	background-color: var(--background-footer-color);
	border: 1px solid rgba(255, 255, 255, 0.3);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;
	outline: none;
	color: var(--primary-white-color);
}

.footer-form-input:focus {
	border-color: var(--accent-color);
}

.footer-form-input:focus + .footer-form-text,
.footer-form-input:not(:placeholder-shown) + .footer-form-text {
	transform: translate(-15px, 40px) scale(0.95);
}

.footer-btn-form {
	margin-left: 12px;
}

.footer-btn-form button {
	padding: 10px 28px;
	font-weight: 700;
	font-size: 16px;
	line-height: calc(30/16);
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.06em;
	color: var(--primary-white-color);
	background-color: var(--accent-color);
	border: none;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
}

.footer-icon-send {
	margin-left: 10px;
	fill: var(--primary-white-color);
}



/*----------Modal----------*/

.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
	visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
	transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 528px;
	height: 581px;
	background-color: #ffffff;
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
	box-shadow: 0px 1px 3px rgb(0 0 0 / 12%),
	0px 1px 1px rgb(0 0 0 / 14%),
	0px 2px 1px rgb(0 0 0 / 20%);
	border-radius: 4px;
}

.is-hidden .modal {
	transform: translate(-50%, -50%) scale(0);
}

.modal-close {
	position: absolute;
	top: 8px;
	right: 8px;
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid rgba(0, 0, 0, 0.1);;
	border-radius: 50%;
	background-color: #fff;
}

.close-icon {
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover .close-icon,
.modal-close:focus .close-icon {
	fill: var(--accent-color);
}

/*-----Form-----*/

.form {
	width: 100%;
	padding: 40px;
}

.modal-title {
	display: flex;
	justify-content: center;
	margin: 0;
	margin-bottom: 12px;
	font-weight: 700;
	font-size: 20px;
	line-height: 1.15;
	color: var(--title-text-color);
}

.form-field {
	position: relative;
	margin-bottom: 10px;
	display: flex;
	flex-direction: column;
}

.modal-label {
	margin: 0;
	margin-bottom: 4px;
	font-size: 12px;
	line-height: calc(14/12);
	letter-spacing: 0.01em;
}

.modal-input {
	display: block;
	font-size: 12px;
	line-height: calc(14/12);
	letter-spacing: 0.01em;
	margin: 0;
	outline: none;
	padding: 12px 30px 12px 42px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus,
.modal-input:focus ~ .icon {
	border-color: var(--accent-color);
	fill: var(--accent-color);
}

.form-field input {
	padding-left: 42px;
}

.form-field textarea::placeholder {
	color: rgba(117, 117, 117, 0.5);
}

.form-field textarea {
	resize: none;
	height: 120px;
	padding: 12px 16px;
}

.form-field .icon {
	position: absolute;
	top: 29px;
	left: 12px;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	margin-bottom: 30px;
	color: var(--primary-text-color);
}

.checkbox-text {
	line-height: calc(24/14);
}

.checkbox-input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	position: absolute;
}

.check-icon {
	display: inline-block;
	width: 16px;
	height: 15px;
	margin-right: 8px;
	border: 2px solid var(--title-text-color);
	border-radius: 2px;
	cursor: pointer;
	fill: var(--primary-white-color);
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
	border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-input:checked + .check-icon {
	background-color: var(--accent-color);
	border-color: var(--accent-color);
	background-size: contain;
	background-origin:content-box ;
}

.modal-link {
	color: var(--accent-color);
	text-decoration: underline;
}

.checkbox input[type='checkbox'] {
	width: 16px;
	height: 15px;
}

.modal-button {
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal-btn-submit {
	display: flex;
	justify-content: center;
}

.modal-btn-submit button {
	padding: 10px 52px;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	text-align: center;
	letter-spacing: 0.06em;
	color: var(--primary-white-color);
	background-color: var(--accent-color);
	border: none;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
}



/*----------Portfolio----------*/

/*-----Filter-----*/
.filter-list {
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
	margin-top: 94px;
	margin-bottom: 0;
}

.filter-list__item:not(:last-child) {
	margin-right: 8px;
}

.filter-list__button {
	color: var(--title-text-color);
	background-color: var(--background-team-color);
	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	padding: 6px 22px;
	border-radius: 4px;
	border: none;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
	box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
	color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-list__button:hover,
.filter-list__button:focus {
	color: var(--primary-white-color);
	background-color: var(--accent-color);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*-----Projects-----*/

.project-list {
	margin-top: 34px;
	margin-bottom: 94px;
	display: flex;
	flex-wrap: wrap;
}

.project-list__card {
	display: flex;
	margin-bottom: 30px;
	width: calc((100% - 60px) / 3);
}

.project-list__card:not(:nth-child(3n)) {
	margin-right: 30px;
}

.project-list__card:nth-last-child(-n + 3) {
	margin-bottom: 0;
}

.card__link {
	display: block;
	transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card__link:hover,
.card__link:focus {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
	0px 4px 4px rgba(0, 0, 0, 0.06),
	1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card__image-block {
	position: relative;
	display: flex;
	overflow: hidden;
}

.card__emerging-text {
	position: absolute;
	top: 100%;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 63px 24px;
	margin: 0;
	font-size: 18px;
	line-height: 1.56;
	background-color: rgba(33, 150, 243, 0.9);
	color: var(--primary-white-color);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card__link:hover .card__emerging-text,
.card__link:focus .card__emerging-text {
	transform: translateY(-100%);
}

.card__description {
	padding: 20px 24px;
	border: 1px solid #EEEEEE;
    border-top: none;
}

.card__title {
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
}

.card__text {
	margin-top: 4px;
	margin-bottom: 0;
	font-size: 16px;
	line-height: 1.88;
}