.features {
	padding-top: 60px;
	padding-bottom: 60px;

	@media screen and (min-width: 1200px) {
		padding-top: 94px;
		padding-bottom: 94px;
	}
}

.features__list {
	@media screen and (min-width: 768px) {
		display: flex;
		flex-wrap: wrap;
	}
}

.features__item {
	width: 100%;

	@media screen and (min-width: 768px) {
		width: calc((100% - 1 * 30px) / 2);

		&:nth-child(odd) {
			margin-right: 30px;
		}
	}

   &:not(:last-child) {
		@media screen and (max-width: 767px) {
			margin-bottom: 10px;
		}

		@media screen and (min-width: 1200px) {
			margin-right: 30px;
		}
   }

	&:not(:nth-last-child(-n + 2)) {
		@media screen and (max-width: 1199px) {
			margin-bottom: 30px;
		}
	}

	@media screen and (min-width: 1200px) {
		width: calc((100% - 3 * 30px) / 4)
	} 
}

.features__block-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 120px;
	background-color: var(--background-team-color);
	margin-bottom: 30px;
	border-radius: 4px;
}

.features__title {
	font-weight: 700;
	line-height: 1.14;
	text-transform: uppercase;
	margin: 0;

	@media screen and (max-width: 767px) {
		text-align: center;
	} 
}

.features__text {
	margin: 0;
	margin-top: 10px;
	margin-top: 10px;
	line-height: 1.71;
}