.team {
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: var(--background-team-color);

	@media screen and (min-width: 1200px) {
		padding-top: 94px;
		padding-bottom: 94px;
	}
}

.team__title {
	margin: 0;
	font-weight: 700;
	font-size: 28px;
	line-height: calc(33 /28);
	text-align: center;

	@media screen and (min-width: 1200px) {
		font-size: 36px;
		line-height: 1.17;
	}
}

.team__list {
	margin-top: 30px;

	@media screen and (min-width: 768px) {
		display: flex;
		flex-wrap: wrap;
	}

	@media screen and (min-width: 1200px) {
		margin-top: 50px;
	}
}

.team__card {
	width: 100%;
	text-align: center;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
	background-color: var(--primary-white-color);

   &:not(:last-child) {
		@media screen and (max-width: 767px) {
			margin-bottom: 30px;
		} 

		@media screen and (min-width: 1200px) {
			margin-right: 30px;
		} 
   }

	@media screen and (min-width: 768px) {
		width: calc((100% - 1 * 30px) / 2);

		&:nth-child(odd) {
			margin-right: 30px;
		}
	}

	&:not(:nth-last-child(-n + 2)) {
		@media screen and (max-width: 1199px) {
			margin-bottom: 30px;
		}
	}

	@media screen and (min-width: 1200px) {
		width: calc((100% - 3 * 30px) / 4)
	} 
}

.card__info {
	padding-top: 30px;
	padding-bottom: 24px;

	@media screen and (min-width: 1200px) {
		padding-bottom: 30px;
	}
}

.card__name {
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
}

.card__speciality {
	margin-top: 10px;
	margin-bottom: 0;
	font-size: 16px;
	line-height: 1.19;
}